@tailwind base;
@tailwind components;
@tailwind utilities;




#root{
  height: 100%;
  background-color: black;
}

@layer base{
  html{
    height: 100%;
  }
  body{
    height: 100%;
    /* background-color: red; */
  }
}


.swiper-slide{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sub-menu{
  @apply hidden
}

.menu-bar .li:hover .sub-menu{
  @apply block absolute cursor-pointer text-white bg-silver w-full mt-2 text-center rounded-md py-3 gap-5
}
.menu-bar .li:hover .sub-menu ul {
  @apply flex flex-col 
}

.menu-bar .li:hover .sub-menu ul li:hover{
  @apply bg-white text-black

}
.menu-bar .li:hover .sub-menu ul li{
  @apply py-2
}

@layer utilities {
  .transit{
    transition: all 0.25s;
  }
  .w-out {
  width: calc(fit-content);
}
}

.active{
  @apply bg-Navy-Torea-Bay
  
}


.out {
  width: calc(fit-content);
}